body {
    height: 100vh;
    width: 100%;
    text-align: justify;
    overflow-x: hidden;
}

.dragdropLoading {
    color: white;
    height: 89.999vh;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Căn giữa */
.center {
    text-align: center;
    font-size: 30px;
}

/* Background selection */
.selection {
    display: flex;
}

.selection>img {
    width: 50vw;
    /* height: 80vh; */
}

.content-selection {
    width: 50vw;
    background-color: #C2DED1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 50px;
    /* line-height: 250%; */
}

.content-selection>h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.content-selection>button {
    width: 35%;
    margin: 10px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.34);
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

.content-selection>button :hover {
    transform: translateY(8px);
    transition: ease-out;
    transition-duration: 0.3s;
}

.content-selection>button {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* background toàn màn hình */
.dragdrop-game {
    background-image: url(../../../Asset/Background/dragdrop\ bgr.jpg);
    background-size: cover;
    height: 100vh;
    display: none;
}

.game-infor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin10 {
    margin: 20px 0 10px 0;
}

/* CSS khu vực chơi */
.game-area {
    margin: 0 20px 0 20px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
}

/* danh sách chứa các thẻ từ tiếng anh để kéo */
.Lists {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 12px;
    padding: 20px;
    font-size: 24px;
}

/* các thẻ từ tiếng anh cần kéo */
.css {
    background-color: #F4BFBF;
    color: black;
    padding: 5px;
    width: max-content;
    height: fit-content;
    margin: 5px;
    border-radius: 8px;
}

/* chứa định nghĩa, các ô trống và đếm ngược thời gian */
.definition {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.734);
    border-radius: 12px;
    padding: 20px;
}

.board1 {
    font-size: 24px;
}

/* định nghĩa của các thẻ từ tiếng anh được kéo */
.meaning {
    padding: 5px;
    line-height: 170%;
}

/* đếm ngược thời gian */
#time {
    align-items: center;
    font-size: 30px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 5px;
}

/* ô trống để thả từ tiếng anh được kéo vào */
.blank {
    border: 1px solid black;
    padding: 7px 80px;
    background-color: #F4BFBF;
    border-radius: 12px;
}

/* div chứa các button */
.btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* nút chuyển màn chơi tiếp theo */
#nextStage {
    margin: 10px;
    border-radius: 8px;
    margin: 10px;
    font-size: 30px;
    background-color: #B7E5DD;
    border-color: rgba(0, 0, 0, 0.603);
    color: black;
    transition-duration: 0.4s;
    padding: 5px 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

#nextStage:hover {
    background-color: #F4BFBF;
    color: black;
    transform: translateY(8px);
    transition: ease-out;
    transition-duration: 0.3s;
}

#nextStage:active {
    transform: translateY(1.5px);
}

/* nút chơi lại */
#retry {
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.525);
    margin: 10px;
    font-size: 30px;
    background-color: #B7E5DD;
    color: black;
    transition-duration: 0.4s;
    padding: 5px 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

#retry:hover {
    background-color: #F4BFBF;
    color: black;
    transform: translateY(8px);
    transition: ease-out;
    transition-duration: 0.3s;
}

#retry:active {
    transform: translateY(1.5px);
}


/*Tablet: width >= 768px and width < 1024px*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .dragdropLoading {
        font-size: 35px;
    }

    .game-infor>h1 {
        font-size: 40px;
    }

    /* CSS khu vực chơi */
    .game-area {
        padding-top: 20px;
        display: grid;
    }

    /* danh sách chứa các thẻ từ tiếng anh để kéo */
    .Lists {
        padding: 20px;
        font-size: 20px;
    }

    /* chứa định nghĩa, các ô trống và đếm ngược thời gian */
    .definition {
        padding: 20px;
    }

    .board1 {
        font-size: 20px;
    }

    /* định nghĩa của các thẻ từ tiếng anh được kéo */
    .meaning {
        padding: 5px;
        line-height: 200%;
    }

    /* đếm ngược thời gian */
    #time {
        font-size: 24px;
    }

    /* div chứa các button */
    .btn {
        margin-top: 10px;
    }

    /* nút chuyển màn chơi tiếp theo */
    #nextStage {
        margin: 8px;
        border-radius: 8px;
        margin: 0px;
        font-size: 22px;
        padding: 5px 15px;
    }

    /* nút chơi lại */
    #retry {
        margin: 8px;
        font-size: 22px;
        padding: 5px 15px;
    }

}

/* Mobile: width < 768px */
@media only screen and (max-width: 768px) {
    .dragdropLoading {
        font-size: 24px;
    }

    /* Căn giữa */
    .center {
        font-size: 24px;
    }

    /* Background selection */
    .selection {
        display: flex;
        flex-direction: column-reverse;
    }

    .selection>img {
        width: 100vw;
        height: 100vh;
    }

    .content-selection {
        align-items: center;
        width: 100vw;
        padding: 15px;
        z-index: 2;
        margin-top: -190px;
        background-color: rgba(240, 248, 255, 0.415);
        /* line-height: 250%; */
    }

    .content-selection>h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .content-selection>button {
        width: 80%;
        margin: 5px;
        height: 30px;
    }

    .content-selection>button {
        font-size: 16px;
    }

    /* background toàn màn hình */
    .margin10 {
        margin: 10px 0 10px 0;
    }

    .game-infor>h1 {
        font-size: 22px;
    }

    /* CSS khu vực chơi */
    .game-area {
        margin: 0 10px;
        padding-top: 10px;
        display: flex;
        flex-direction: column-reverse;
        grid-column-gap: 10px;
    }

    /* danh sách chứa các thẻ từ tiếng anh để kéo */
    .Lists {
        padding: 10px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    /* chứa định nghĩa, các ô trống và đếm ngược thời gian */
    .definition {
        padding: 10px;
    }

    .board1 {
        font-size: 14px;
    }

    /* định nghĩa của các thẻ từ tiếng anh được kéo */
    .meaning {
        padding: 5px;
        line-height: 150%;
    }

    /* đếm ngược thời gian */
    #time {
        font-size: 20px;
    }

    /* ô trống để thả từ tiếng anh được kéo vào */
    .meaning>.blank {
        padding: 5px 40px;
    }

    /* div chứa các button */
    .btn {
        margin-top: 10px;
    }

    /* nút chuyển màn chơi tiếp theo */
    #nextStage {
        font-size: 18px;
        padding: 5px 10px;
    }

    /* nút chơi lại */
    #retry {
        font-size: 18px;
        padding: 5px 15px;
    }
}