* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    src: url(./Asset/Montserrat/Montserrat-Regular.ttf);
    font-family: Montserrat Reg;
}

body {
    font-family: Montserrat Reg;
}

/* @media only screen and (min-width: 768px) { */
    /* TASK BAR */
.navi-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: whitesmoke;
    padding: 10px;
}

a {
    text-decoration: none;
}

.logo {
    width: 250px;
    text-align: center;
}

.logo>a {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: black;
    font-size: 40px;
}

.logo-image {
    width: 40px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 800px;
}

.menu-item {
    padding: 10px;
}

.menu-item>a {
    color: black;
    font-size: 18px;
}

.menu-item:hover {
    background-color: #a8c9f8;
    border-radius: 8px;
    transform: scale(1.1);
    transition: ease-out;
    transition-duration: 0.3s;
}

.menu-item.active {
    background-color: #DB6400;
}

